:root {
  --fonte: "Prompt", sans-serif;
  --verde-destaque: #81fe88;
  --verde-petroleo: #132e35;
  --grafite: #01080e;
  --cinza-escuro: #171d1f;
  --cinza-medio: #888888;
  --cinza: #3e3e3f;
  --cinza-claro: #bcbcbc;
  --offwhite: #e1e1e1;
  --branco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte);
  background: url("../img/simbolo.png") left 10rem top no-repeat,
    url("../img/simbolo.png") right 10rem bottom no-repeat, var(--grafite);
  background-size: 22.5rem;
  color: var(--branco);
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
